  body {
  background: rgba(13, 13, 17, 1);
   }

   ul {
   list-style: none;

   }
 
   .navigation-link {

    font-family: Urbanist;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    color: rgba(250, 250, 252, 1);

    }
    
    /*Search button*/

    .search-bar {
      display: flex;
      align-items: center;
      background-color: #3c3f58;
      border-radius: 25px;
      padding: 14px;
      width : 411px
      
  }
  
  .search-bar input[type=text] {
      border: none;
      background-color: transparent;
      color: white;
      font-size: 18px;
      width: 329px
  }
  
  .search-bar button {
      border: none;
      background-color: #3c3f58;
      color: white;
      cursor: pointer;
      width: 329px
  
  }
  
  
  /*Search-button-end*/
   .hero-section {
    background-color: #000000;
    background-image: url('../images/background-main.webp');
    background-size: cover;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
   /*Add-payment-method-button*/



  .payment-method {
   
    font-family: Urbanist;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    width: Hug (219px)px;
    height: Hug (56px)px;
    padding: 16px 36px 16px 36px;
    gap: 8px;
    border-radius: 30px 30px 30px 30px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    border: 2px solid rgba(81, 66, 252, 1)


   }

    .delivery-heading {
    
    font-family: Urbanist;
    font-size: 76px;
    font-weight: 700;
    line-height: 76px;
    color: rgba(250, 250, 252, 1);

    }
    
    .delivery-text {
    
    font-family: Urbanist;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: rgba(250, 250, 252, 1);

    
    }
    
    .download-app-btn {

    font-family: Urbanist;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    color: rgba(250, 250, 252, 1); 
    width: Hug (219px)px;
    height: Hug (56px)px;
    padding: 16px 36px 16px 36px;
    gap: 8px;
    border-radius: 30px 30px 30px 30px;
    border: 2px 0px 0px 0px; 
    opacity: 0px;
    border: 2px solid rgba(81, 66, 252, 1)
    }

   .add-delivery-btn {
    font-family: Urbanist;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    color: rgba(250, 250, 252, 1); 
    width: Hug (242px)px;
    height: Hug (56px)px;
    padding: 16px 36px 16px 36px;
    gap: 8px;
    border-radius: 30px 30px 30px 30px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    border: 2px solid rgba(255, 255, 255, 1)
   }


    .option-choices {

    font-family: Urbanist;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: rgba(255, 255, 255, 1);

    }

    .option-text {
      
    font-family: Urbanist;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(255, 255, 255, 1);

    }

    .subheading-section {

    font-family: Urbanist;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    color: rgba(255, 255, 255, 1);

    }

    .coutdown-text{

    font-family: Urbanist;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    

    }

    .explore {

    font-family: Urbanist;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    color: rgba(255, 255, 255, 1);

    }

    .dish-name {
    
    font-family: Urbanist;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: rgba(255, 255, 255, 1);

    }

    .restaurant {
     
    font-family: Urbanist;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(138, 138, 160, 1);

    }

    .restaurant-name {

    font-family: Urbanist;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: rgba(235, 235, 235, 1); 

    }

    .price-delivery {
      
    font-family: Urbanist;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    width: 48px;
    height: 24px;
    padding: 2px 6px 2px 6px;
    gap: 10px;
    border-radius: 8px 8px 8px 8px;
    background: rgba(81, 66, 252, 1);
    box-sizing: border-box;
	  display: inline-flex;
	  align-items: center;
	  justify-content: center;

    }

    .dish-price {
 
    font-family: Urbanist;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    color: rgba(250, 250, 252, 1);
    width: 300px;
    height: 46px;
    padding: 14px 24px 14px 24px;
    gap: 6px;
    border-radius: 23px 23px 23px 23px;
   

    }
    
    .pop-places-name {
     
    font-family: Urbanist;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: rgba(255, 255, 255, 1);

    }

    .delivery-time-text {

    font-family: Urbanist;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(138, 138, 160, 1);

    }
   
    .delivery-time-min {
     
    font-family: Urbanist;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: rgba(235, 235, 235, 1);

    }
    
    .person-name {

    font-family: Urbanist;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: rgba(255, 255, 255, 1);

    }

    .free-del {

    font-family: Urbanist;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: rgba(235, 235, 235, 1);

    } 

    .load-more {

    font-family: Urbanist;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    color: rgba(250, 250, 252, 1);

    }

    .lorem-text {
     
    font-family: Urbanist;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(255, 255, 255, 1);

    }

    .footer-subheading {

    font-family: Urbanist;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: rgba(255, 255, 255, 1);

    }

    .item-link {

    font-family: Urbanist;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(255, 255, 255, 1);

    }

    .subscribe-link {

    font-family: Urbanist;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: rgba(255, 255, 255, 1);

    }

    /*--------------------------------------------------------------Стилизация Subscribe us-------------------------------------------------------------------------------------------------------------------*/
    .container {
      max-width: 238px;
      width: 238px;
      height: 54px;
      padding: 18px
      gap: 10px;
      padding: 20px;
      background-color: #ffffff;
    
    }

    input  {
      width: 202px
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    button-send {
      width: 24px;
      padding: 10px;
      background-color: #007bff;
      color: #ffffff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }
  button[type="submit"]:hover {
      background-color: #0056b3;
  }

    /*----------------------------------------------------------------------тилизация картинок страницы index html-----------------------------------------------------------------------------------*/


.wallet-pay-wrap {
	width: 56px;
  height: 56px; 
  gap: 0px;
  border-radius: 16px ;
  opacity: 0px;
  background: rgba(75, 80, 230, 1);


	box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
}

.choose-shop-wrap {
  width: 56px;
  height: 56px;
  gap: 0px;
  border-radius: 16px ;
  opacity: 0px;
  background: rgb(96, 230, 75);


	box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 8px

}

.see-product-wrap {
  width: 56px;
  height: 56px;
  gap: 0px;
  border-radius: 16px ;
  opacity: 0px;
  background: rgba(152, 53, 251, 1);



	box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 8px

}

.add-to-list-wrap {
  width: 56px;
  height: 56px;
  gap: 0px;
  border-radius: 16px ;
  opacity: 0px;
  background: rgba(249, 72, 0, 1);

	box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 8px

}

 .card-wrap {

 padding: 20px 
 gap: 16px;
 border-radius: 20px
 opacity: 0px;
 background: rgba(28, 28, 40, 1);

}

.hot-promo-logo-wrap {
  width: 44px;
  height: 44px;
  gap: 0px;
  border-radius: 8px 8px 8px 8px;
  opacity: 0px;
  background: rgba(13, 13, 17, 1);
  box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	justify-content: center;

}

.images-main-desc {

  border-radius: 8px

}


.images-person {

  border-radius: 20px
}



    
    /*-------------------------------------------------------------------------------Catalog css------------------------------------------------------------------------------ */
    .catalog-heading {

    font-family: Urbanist;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    color: rgba(255, 255, 255, 1);

    }
  
    .option-list {
  
    font-family: Urbanist;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    background: rgba(138, 138, 160, 1);
     
    }

    .form-heading {

      width: 284px;
      height: 19px;
      gap: 0px;
      opacity: 0px;
      font-family: Urbanist;
      font-size: 16px;
      font-weight: 700;
      line-height: 19.2px;
      text-align: left;
      color: rgba(255, 255, 255, 1);
    }

    .form-choose-types {
      width: 57px;
      height: 22px;
      font-family: Urbanist;
      font-size: 14px;
      font-weight: 400;
      line-height: 22.4px;
      text-align: left;
      color: rgba(255, 255, 255, 1);


      
    }
  

    /*-----------------------------------------------------------------------------------Catalog-item---------------------------------------------------------------------------------*/

    .item-heading {
      
    font-family: Urbanist;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.2px;
    color: rgba(255, 255, 255, 1);

    }

    .download-btn {
    
    font-family: Urbanist;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    color: rgba(138, 138, 160, 1);

    }

    .system-ident {

    font-family: Urbanist;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    color: rgba(235, 235, 235, 0.8);

    }

    .item-text {
         
    font-family: Urbanist;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    color: rgba(138, 138, 160, 1);

    }

    .item-offer {

    font-family: Urbanist;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    color: rgba(138, 138, 160, 1);

    }

    .item-delivery {

    font-family: Urbanist;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    color: rgba(138, 138, 160, 1);

    }

    .item-info {

    font-family: Urbanist;
    font-size: 15px;
    font-weight: 600;
    line-height: 26px;
    color: rgba(138, 138, 160, 1);
            
    }
      
    .item-place {

    font-family: Urbanist;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    color: rgba(138, 138, 160, 1);

    }
      
    .place-name {

    font-family: Urbanist;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    color: rgba(235, 235, 235, 1);

    }

    .item-del-time {

    font-family: Urbanist;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    color: rgba(138, 138, 160, 1);

    }

    .item-price {
      
    font-family: Urbanist;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);

    }

    .item-choice {

    font-family: Urbanist;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: rgba(250, 250, 252, 1);

    }

    .deliveryman-main {
      
      width: 580px;
      height: 580px;
      left: 0px;
      gap: 0px;
      opacity: 0px;    

    }

    /*-----------------------------------------Layout----------------------------------*/

      .flexbox-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      ul {        
          display: flex;
          align-items: center;
      }
  
      ul li {
          margin-right: 20px;
      }
    }
  