

   .navigation-link {

    font-family: Urbanist;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    }
    
   .payment-method {
   
   font-family: Urbanist;
   font-size: 15px;
   font-weight: 700;
   line-height: 18px;

   }

    .delivery-heading {
    
    font-family: Urbanist;
    font-size: 76px;
    font-weight: 700;
    line-height: 76px;
    }
    
    .delivery-text {
    
    font-family: Urbanist;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    
    }
    
    .main-btn {

    font-family: Urbanist;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
      
    }

    .option-choices {

    font-family: Urbanist;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    
    }

    .option-text {
      
    font-family: Urbanist;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    
    }

    .subheading-section {

    font-family: Urbanist;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    

    }

    .explore {

    font-family: Urbanist;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
      
    }

    .dish-name {
    
    font-family: Urbanist;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
   
    }

    .restaurant {
     
    font-family: Urbanist;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
   
    }

    .restaurant-name {

    font-family: Urbanist;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    
    }

    .price-delivery {
      
    font-family: Urbanist;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;

    }

    .dish-price {
 
    font-family: Urbanist;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;

    }
    
    .pop-places-name {
     
    font-family: Urbanist;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;

    }

    .delivery-time-text {

    font-family: Urbanist;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    }


    .delivery-time-min {
     
    font-family: Urbanist;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;

    }
    
    .person-name {

    font-family: Urbanist;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;

    }

    .free-del {

    font-family: Urbanist;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
   
    } 

    .load-more {

    font-family: Urbanist;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;

    }

    .lorem-text {
     
    font-family: Urbanist;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
   
    }

    .footer-subheading {

    font-family: Urbanist;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;

    }

    .item-link {

    font-family: Urbanist;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
   
    }

    .subscribe-link {

    font-family: Urbanist;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    
    }

     









    


    
    